* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    padding: 1rem 3rem;
}

header > nav {
    display: flex;
    height: 80px;
    
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
ul {
    display: flex;
    list-style-type: none;
}

ul li {
    padding: 1rem;
}


main input {
    margin-right: 1.5rem;
}

a {
    color: rgb(0, 139, 208);
    text-decoration: none;
}

input {
    border-radius: 20px;
}


div#form {
    display: flex;
    align-items: center;
}

div.form-da-compilare {
    margin-right: 1.5rem;
}

.bottone-invio {
    padding:.4rem .7rem;
}

.km-fatti,
.eta-passegero {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

section.info-biglietto > * {
    margin-bottom: 2rem;
}

label {
    margin-bottom: 1rem;
}

.no-display {
    display: none;
}

#logo-MHA {
    height:100%;
}

.blue {
    background-color: rgb(11, 7, 236);
}

.light-blue {
    background-color: rgb(0, 191, 255);
}


@media screen and (max-width:768px){
    header li {
        display: none;
    }

    li.hamburger-menu {
        display: inline-block;
    }
}